<?xml version="1.0"?>
<config>
    <modules>
        <Strapp_Multitab>
            <version>1.0.0</version>
        </Strapp_Multitab>
    </modules>
    <frontend>        
	  <routers>
            <multitab>
                <use>standard</use>
                  <args>
                    <module>Strapp_Multitab</module>
                    <frontName>multitab</frontName>
                  </args>
            </multitab>
          </routers>
	  <layout>
            <updates>
                <strapp_multitab module="strapp_multitab">
                    <file>strapp_multitabdisplay.xml</file>
                </strapp_multitab>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <strapp_multitab>
                <class>Strapp_Multitab_Model</class>
            </strapp_multitab>
        </models>
        <blocks>
            <strapp_multitab>
                <class>Strapp_Multitab_Block</class>
            </strapp_multitab>	   
        </blocks>
        <helpers>
            <strapp_multitab>
                <class>Strapp_Multitab_Helper</class>
            </strapp_multitab>
        </helpers>	
    </global>
    <default>
        <multitab>
            <additionalinfo>
                <enable>1</enable>				
            </additionalinfo>			
        </multitab>
    </default>
</config>